.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navlink {
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
}

.navlink:nth-child(1) {
  left: 25px;
}

.navlink:nth-child(2) {
  right: 25px;
}

@media screen and (max-width: 530px) {
  .desktop {
    display: none;
  }
}
